%h1.text-center Редактировать грамматический словарь

= render 'form'

= link_to 'Просмотр', @grammar_dictionary, class: "btn btn-light"
\|
= link_to 'Назад', grammar_dictionaries_path, class: "btn btn-light"